<footer class="main-footer mt-5">
			<div class="header-footer">
				<div class="main-grid">
					<div class="row no-gutters">
						<div class="col-6 col-sm-6 col-md-3 footer-header-icons phone-header-footer">
							<i class="icon_phone icon-header-footer"></i>
							<div class="header-bar phone-header-bar">
								<h3 class="header-footer-title">0800 666 1010</h3>
								<p class="footer-text micro-text inactive">Seg - Sex das 9h às 23h</p>
							</div>
						</div>
						<div class="col-2 col-sm-2 col-md-3 footer-header-icons">
							<i class="icon_chat_alt icon-header-footer"></i>
							<div class="header-bar">
								<h3 class="header-footer-title desktop">Chat ao vivo</h3>
								<p class="footer-text micro-text inactive desktop">Fale com um atendente</p>
								<p class="footer-text micro-text inactive mobile">Chat</p>
							</div>
						</div>
						<div class="col-2 col-sm-2 col-md-3 footer-header-icons">
							<i class="icon_mail_alt icon-header-footer"></i>
							<div class="header-bar">
								<h3 class="header-footer-title desktop">Mande um E-mail</h3>
								<p class="footer-text micro-text active desktop">Respondemos rapidinho</p>
								<p class="footer-text micro-text active mobile">E-mail</p>
							</div>
						</div>
						<div class="col-2 col-sm-2 col-md-3 footer-header-icons">
							<i class="icon_info icon-header-footer"></i>
							<div class="header-bar">
								<h3 class="header-footer-title desktop">Central de ajuda</h3>
								<p class="footer-text micro-text active desktop">Encontre todas as respostas</p>
								<p class="footer-text micro-text active mobile">Ajuda</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-footer desktop">
				<div class="main-grid">
					<div class="row no-gutters">
						<div class="col-sm-2">
							<h3 class="sub-title-white">Encontre sua bolsa</h3>
							<ul class="footer-menu">
								<li><a href="#" class="footer-text footer-link" title="Busque por Faculdade">Busque por Faculdade</a></li>
								<li><a href="#" class="footer-text footer-link" title="Busque por curso">Busque por curso</a></li>
								<li><a href="#" class="footer-text footer-link" title="Mapa de Faculdades">Mapa de Faculdades</a></li>
								<li><a href="#" class="footer-text footer-link" title="Mapa de cursos">Mapa de cursos</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h3 class="sub-title-white">Central de ajuda</h3>
							<ul class="footer-menu">
								<li><a href="#" class="footer-text footer-link" title="Passo a Passo">Passo a Passo</a></li>
								<li><a href="#" class="footer-text footer-link" title="Perguntas Frequentes">Perguntas Frequentes</a></li>
								<li><a href="#" class="footer-text footer-link" title="Vs Educa Mais Brasil">Vs Educa Mais Brasil</a></li>
								<li><a href="#" class="footer-text footer-link" title="Vs Mais Estudo/Neora">Vs Mais Estudo/Neora</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h3 class="sub-title-white">Programas do governo</h3>
							<ul class="footer-menu">
								<li><a href="#" class="footer-text footer-link" title="Notas de Corte">Notas de Corte</a></li>
								<li><a href="#" class="footer-text footer-link" title="Tudo sobre Prouni">Tudo sobre Prouni</a></li>
								<li><a href="#" class="footer-text footer-link" title="Tudo sobre Sisu">Tudo sobre Sisu</a></li>
								<li><a href="#" class="footer-text footer-link" title="Tudo sobre Fies">Tudo sobre Fies</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h3 class="sub-title-white">Revista QB</h3>
							<ul class="footer-menu">
								<li><a href="#" class="footer-text footer-link" title="Vestibular e Enem">Vestibular e Enem</a></li>
								<li><a href="#" class="footer-text footer-link" title="Dicas e curiosidades">Dicas e curiosidades</a></li>
								<li><a href="#" class="footer-text footer-link" title="Carreiras">Carreiras</a></li>
								<li><a href="#" class="footer-text footer-link" title="Universidades">Universidades</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h3 class="sub-title-white">Institucional</h3>
							<ul class="footer-menu">
								<li><a href="#" class="footer-text footer-link" title="Trabalhe Conosco">Trabalhe Conosco</a></li>
								<li><a href="#" class="footer-text footer-link" title="Para Faculdades">Para Faculdades</a></li>
								<li><a href="#" class="footer-text footer-link" title="Seja um Parceiro">Seja um Parceiro</a></li>
								<li><a href="#" class="footer-text footer-link" title="Imprensa">Imprensa</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h3 class="sub-title-white">Dicas Quero Bolsa</h3>
							<ul class="footer-menu">
								<li><a href="#" class="footer-text footer-link" title="Bolsas Ensino Básico">Bolsas Ensino Básico</a></li>
								<li><a href="#" class="footer-text footer-link" title="Serviços Parceiros">Serviços Parceiros</a></li>
								<li><a href="#" class="footer-text footer-link" title="Quero Bolsa 100%">Quero Bolsa 100%</a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr class="mt-5 hr-white">
				<div class="main-grid">
					<div class="row no-gutters mt-5">
						<div class="col-sm-3">
							<p class="footer-text">Somos destaque na impressa</p>
							<div class="footer-seal mt-3">
								<img src="images/logo-globo-white.png" alt="Logo Globo" title="Logo Globo" class="logo-footer mr-2">
								<img src="images/logo-folha-white.png" alt="Logo Folha" title="Logo Folha" class="logo-footer">
								<img src="images/logo-veja-white.png" alt="Logo Veja" title="Logo Veja" class="logo-footer">
							</div>
						</div>
						<div class="col-sm-3">
							<p class="footer-text">Conecte-se às nossas redes sociais</p>
							<div class="footer-seal mt-3">
								<ul class="footer-social-menu">
									<li><a href="#" class="text-center" title="Youtube"><i class="fa fa-youtube-play"></i></a></li>
									<li><a href="#" class="text-center" title="Instagram"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#" class="text-center" title="Twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="text-center" title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li><p class="footer-text micro-text mt-2">500k likes</p></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3">
							<p class="footer-text">Atendimento de excelência</p>
							<div class="footer-seal mt-3">
								<ul class="footer-social-menu">
									<li><img src="images/selo-epoca.png" alt="Selo Reclame Aqui" title="Selo Reclame Aqui" class="mr-2"></li>
									<li><p class="footer-text micro-text mt-2">Campeã 2015<br> Educação presencial</p></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3">
							<p class="footer-text">Política Bolsa Garantida</p>
							<div class="footer-seal">
								<ul class="footer-social-menu">
									<li><img src="images/selo-gold.png" alt="Selo Gold" title="Selo Gold" class="mr-2"></li>
									<li><p class="footer-text micro-text mt-2">Você na Faculdade ou seu<br> dinheiro de volta</p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-footer content-footer-mobile mobile">
				<div class="main-grid">
					<div class="row no-gutters text-center">
						<p class="text-center footer-menu-mobile">
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Central de Ajuda"><span>Central de Ajuda</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Vs Educa Mais Brasil"><span>Vs Educa Mais Brasil</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Vs Mais Estudo"><span>Vs Mais Estudo</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Mapa de Faculdades"><span>Mapa de Faculdades</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Mapa de Cursos"><span>Mapa de Cursos</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Revista QB"><span>Revista QB</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Guia de Programas do Governo"><span>Guia de Programas do Governo</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Trabalhe conosco"><span>Trabalhe conosco</span></a>
							<a href="#" class="footer-text footer-link footer-mobile-link" title="Imprensa"><span>Imprensa</span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="sub-footer">
				<div class="main-grid mobile-main-grid">
					<div class="row no-gutters">
						<div class="col-md-3 desktop">
							<p class="sub-footer-text micro-text mt-2">Rede Alumni Ⓒ 2011-2016 <br> CNPJ: 10.542.212/0001-54</p>
						</div>
						<div class="col-md-3 mobile mobile-sub-footer text-center pb-3 pl-3 pr-3">
							<img src="images/selos-mobile.png" class="img-fluid mt-2" alt="Bandeira cartões" title="Bandeira cartões">
						</div>
						<div class="col-sm-6 desktop">
							<img src="images/selos.png" class="img-fluid mt-2" alt="Bandeira cartões" title="Bandeira cartões">
						</div>
						<div class="col-md-6 mobile mobile-sub-footer mt-3 pb-3">
							<div class="footer-seal text-center">
								<ul class="footer-social-menu mobile-footer-social-menu">
									<li><a href="#" class="text-center" title="Youtube"><i class="fa fa-youtube-play"></i></a></li>
									<li><a href="#" class="text-center" title="Instagram"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#" class="text-center" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 text-center mt-2 pb-3">
							<p class="sub-footer-text micro-text mt-md-2">Feito com <i class="fa fa-heart"></i> pela Quero Educação</p>
							<p class="sub-footer-text micro-text mt-md-2 mobile">Rede Alumni Serviços de Internet Ltda Ⓒ 2011-2016 <br> CNPJ: 10.542.212/0001-54</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<a href="#main" class="gototop" title="Vá para o topo"><i class="fa fa-angle-up"></i></a>