<header class="header">
			<div class="main-grid">
				<div class="row no-gutters">
					<div class="col-2 col-sm-4">
						<div class="row no-gutters">
							<div class="info-top pr-2 desktop">
								<i class="icon_info icon-top text-warning"></i>
								<p class="main-text text-top">Como funciona</p>
							</div>
							<div class="info-top pl-2 desktop">
								<i class="icon_phone icon-top text-warning"></i>
								<p class="main-text text-top">0800 666 1010</p>
							</div>
							<div class="info-top pl-2 mobile text-center">
								<i class="fa fa-life-bouy icon-top text-warning"></i>
								<p class="mini-text text-top">Ajuda</p>
							</div>
						</div>
					</div>
					<div class="col-8 col-sm-4 text-center">
						<img src="images/logo.jpg" title="Logo Quero bolsa" alt="Logo Quero bolsa" class="img-fluid">
					</div>
					<div class="col-2 col-sm-4">
						<div class="info-top-right pr-2 desktop">
							<p class="main-text text-top">Entre ou crie sua conta</p>
							<i class="fa fa-user-circle-o icon-top text-warning"></i>
						</div>
						<div class="info-top-right pr-2 mobile text-center">
							<i class="fa fa-user-circle-o icon-top text-warning"></i>
							<p class="mini-text text-top">Entrar</p>
						</div>
					</div>
				</div>
			</div>
			<div class="main-menu">
				<div class="main-grid mobile-main-grid">
					<nav class="navbar navbar-expand-md">
						<a href="#" title="Minha conta" class="menu-fixed">Minha conta</a>
						<button class="navbar-toggler collapsed menu-btn" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			          		Menu <span class="fa fa-angle-down"></span>
			        	</button>
			        	<div class="navbar-collapse collapse" id="navbarCollapse" style="">
			        		<ul class="menu navbar-nav mr-auto">
								<li class="nav-item"><a href="#" title="Pré-matrículas">Pré-matrículas</a></li>
								<li class="nav-item"><a href="#" title="Meus cursos">Meus cursos</a></li>
								<li class="nav-item"><a href="#" title="Atualize meus dados">Atualize meus dados</a></li>
								<li class="nav-item"><a href="#" title="Contas e preferências">Contas e preferências</a></li>
								<li class="nav-item"><a href="#" title="Quero Bolsa indica">Quero Bolsa Indica</a></li>
							</ul>
			        	</div>
					</nav>
				</div>
			</div>
		</header>