<header class="header" ng-controller="headerController as ctrl">
	<div class="navbar bg-nav">
		<nav class="main">
			<div class="float-left">
				<button class="navbar-toggler float-left">
					<i class="material-icons">menu</i>
				</button>
				<a href="#" class="navbar-brand d-flex align-items-center float-left">
					<strong>testAngular</strong>
				</a>
			</div>
			<div class="float-right input-group-append">
				<input class="form-control desktop">
				<button class="navbar-toggler">
					<i class="material-icons">notification_important</i>
				</button>
				<button class="navbar-toggler">
					<i class="material-icons">settings</i>
				</button>
				{{ctrl.name}}
			</div>
		</nav>
	</div>
</header>