//=============
//====SASS=====
//=============

//=== Default ===

$light-color: #eee
$light-bg-color: $light-color

$inverse-color: #7a59a5
$inverse-bg-color: $inverse-color

$dark-color: #c00
$dark-bg-color: $dark-color


body
	background-color: $light-bg-color

a
	text-decoration: none

.desktop
	display: block

.mobile
	display: none

.main
	max-width: 1200px
	width: 100%
	margin: 0 auto

.bg-nav
	background: $inverse-bg-color


