body {
  background-color: #ffffff;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.main-grid {
  margin: 0 auto;
  max-width: 1000px;
  display: block;
}

.gototop {
  position: fixed;
  height: 50px;
  width: 50px;
  color: #ffffff;
  z-index: 1000;
  bottom: 9px;
  right: 20px;
  background-color: #c00;
  border-radius: 1000px;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.top-fixed {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background: #fff;
}

.desktop.info-top {
  float: left;
  padding: 21px 0px 20px;
}

.desktop.info-top:first-child {
  border-right: 1px solid #ccc;
}

.desktop .icon-top, .desktop .text-top {
  float: left;
}

.text-top {
  margin-bottom: 0px;
}

.desktop .icon-top {
  padding: 4px;
}

.desktop.info-top-right {
  padding: 21px 0px 20px;
  float: right;
}

a:focus {
  border: 1px solid #ff9f00;
}

ul {
  padding: 0px;
}

.navbar {
  padding: 0px;
}

.main-menu {
  background: #05869b;
  background: -moz-linear-gradient(top, #c00 0%, #05869b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c00), color-stop(100%, #05869b));
  background: -webkit-linear-gradient(left, #c00 0%, #05869b 100%);
  background: -o-linear-gradient(left, #c00 0%, #05869b 100%);
  background: linear-gradient(to right, #c00 0%, #05869b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c00, endColorstr=#05869b);
  padding: 0px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1) inset, 0px -3px 3px rgba(0, 0, 0, 0.1) inset;
}

.menu li {
  float: left;
  font-size: 14px;
  list-style: none;
  display: flex;
}

.menu a {
  padding: 14px 21px 13px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.3px;
}

.menu-fixed {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 21px;
  float: left;
}

.menu {
  float: left;
  margin: 0;
}

.menu li:last-child a {
  background-color: #c00;
}

.main-menu a:hover, .menu li:last-child a:hover, .menu-fixed:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.page-title {
  padding: 30px 0px 10px;
}

.main-title {
  font-size: 28px;
  margin-bottom: 18px;
  font-weight: 800;
}

.main-text {
  color: #666666;
}

.mini-text {
  color: #666666;
  font-size: 13px;
}

.main-content {
  background: #fafafa;
  padding: 30px 0px 0px;
  border-bottom: 1px solid #dddddd;
  max-height: 510px;
}

.sub-title {
  font-size: 20px;
  margin-bottom: 18px;
  font-weight: 800;
}

.sub-sub-title {
  font-size: 18px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 15px;
}

.stages {
  margin-top: 30px;
}

.stage {
  height: 55px;
  margin-bottom: 25px;
}

.stage-number {
  border: 2px solid #666666;
  border-radius: 10000px;
  color: #666666;
  font-weight: 700;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  float: left;
  margin-right: 10px;
}

.stage-number p {
  margin-bottom: 0px;
  margin-top: 9px;
}

.stage-number::after {
  width: 2px;
  height: 20px;
  content: "";
  background-color: #666666;
  display: block;
  top: 53px;
  left: 22px;
  border-radius: 1000px;
  margin-top: 18px;
  margin-left: 19px;
}

.stage:last-child .stage-number::after {
  display: none;
}

.stage-text {
  margin-top: 5px;
  float: left;
  max-width: 350px;
  width: 80%;
}

.fieldset-form {
  padding: 30px;
  border: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-input {
  color: #666666;
  font-size: 13px;
}

.main-label {
  font-size: 11px;
  text-transform: uppercase;
  color: #666666;
}

.form-control-md {
  height: 48px !important;
}

.btn-form-success {
  background: #10ca79;
  border: 1px solid #10ca79;
  font-size: 14px;
  font-weight: bold;
}

.btn-form-success:hover {
  background: #0cb86d;
  border: 1px solid #0cb86d;
}

.sub-content {
  padding-top: 60px;
}

.sub-label {
  font-size: 13px;
  color: #666666;
}

.sub-input {
  color: #666666;
  font-size: 13px;
  border-radius: 5px 0px 0px 5px !important;
}

.rounded-button {
  border-radius: 0px 5px 5px 0px !important;
}

.main-button {
  color: #ffc107 !important;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #cccccc;
}

.list-icons li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

.list-icon {
  border: 1px solid #cccccc;
  border-radius: 1000px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.list-icon i {
  margin-top: 6px;
  font-size: 24px;
}

.fa-windows:before {
  color: #00abf3;
}

.fa-envelope:before {
  color: #e25c50;
}

.fa-facebook:before {
  color: #505ea5;
}

.fa-twitter:before {
  color: #53aee3;
}

.fa-whatsapp:before {
  color: #48bc75;
}

.header-footer {
  background-color: #c00;
  padding: 20px 0px;
}

.icon-header-footer {
  font-size: 30px;
  float: left;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.header-bar {
  float: left;
}

.header-footer-title {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 0px;
}

.inactive::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 1000px;
  background: #e03f4e;
}

.active::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 1000px;
  background: #64f282;
}

.footer-text {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
}

.content-footer {
  background-color: #05869b;
  padding: 50px 0px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1) inset, 0px -3px 3px rgba(0, 0, 0, 0.1) inset;
}

.sub-footer {
  background-color: #006f8a;
  padding: 10px 0px;
}

.sub-title-white {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.footer-menu {
  list-style: none;
  margin-top: 20px;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.hr-white {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-footer {
  float: left;
  height: 40px;
}

.footer-social-menu {
  list-style: none;
}

.footer-social-menu li {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-social-menu a {
  background: #ffffff;
  height: 35px;
  width: 35px;
  display: inherit;
  border-radius: 1000px;
}

.footer-social-menu i {
  font-size: 22px;
  margin-top: 6px;
}

.footer-social-menu i:before {
  color: #006f8a;
}

.micro-text {
  font-size: 11px;
  margin-bottom: 0px;
}

.sub-footer-text {
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .main-grid {
    padding: 0px 15px;
  }

  .mobile-main-grid {
    display: inline-block;
    width: 100%;
    padding: 0px;
  }

  .info-top {
    float: left;
    padding: 15px 20px;
    border-right: 1px solid #cccccc;
  }

  .info-top-right {
    float: right;
    padding: 15px 20px;
    border-left: 1px solid #cccccc;
  }

  .menu-btn {
    color: #ffffff;
    font-size: 12px;
    float: right;
    margin-right: 0px;
    padding: 17px 19px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .menu {
    width: 100%;
    display: grid;
  }

  .menu li {
    float: none;
    width: 100%;
  }

  .menu a {
    width: 100%;
    display: block;
  }

  .menu-fixed {
    width: 100%;
  }

  .main-content {
    max-height: inherit;
  }

  .fieldset-form {
    bottom: -30px;
  }

  .header-footer {
    padding: 0px;
  }

  .header-bar {
    width: 100%;
  }

  .footer-header-icons {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 8px 10px !important;
    text-align: center;
  }

  .phone-header-bar {
    width: auto;
  }

  .phone-header-footer {
    padding-top: 15px !important;
    border-left: 0px solid rgba(0, 0, 0, 0.1);
    padding-left: 0px !important;
  }

  .icon-header-footer {
    color: #ffffff;
    font-size: 20px;
    width: 100%;
  }

  .phone-header-footer .icon-header-footer {
    width: auto;
  }

  .header-footer-title {
    font-size: 16px;
  }

  .micro-text {
    font-size: 9px;
  }

  .content-footer-mobile {
    padding: 20px 0px;
  }

  .footer-mobile-link {
    padding: 0px 10px;
    border-right: 1px solid #ffffff;
  }

  .footer-mobile-link:last-child {
    border-right: 0px solid #ffffff;
  }

  .mobile-footer-social-menu {
    display: inline-block;
    margin: 0 auto;
  }

  .mobile-sub-footer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

/*# sourceMappingURL=style.css.map */
